* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: radial-gradient(circle at center, #2a2a2a, #0b0b16);
    color: #fff;
}

/* HEADER */
header {
    height: 70px;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0b0b16, #121225);
}

.logo {
    font-size: 26px;
    font-weight: bold;
}

.logo span {
    color: #00ff66;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

nav a.active,
nav a:hover {
    color: #00ff66;
}

/* PAGE */
.page {
    max-width: 900px;
    margin: 70px auto;
    padding: 0 20px;
}

/* SEKCJE */
.rule-section {
    margin-bottom: 60px;
    text-align: center;
}

.section-title {
    display: inline-block;
    padding: 10px 35px;
    border: 2px solid #00ff66;
    margin-bottom: 25px;
    font-size: 22px;
}

/* LISTY */
.rule-section ol {
    max-width: 750px;
    margin: 0 auto;
    text-align: left;
    padding-left: 20px;
}

.rule-section li {
    margin-bottom: 12px;
    font-size: 15px;
    line-height: 1.7;
}



